.cc-selector1 input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
/*
.visa1{background-image:url("img/ph1.png");}
.mastercard1{background-image:url("img/pep.png");}
.pib1{background-image:url("img/pib.png");}
.p_a1{background-image:url("img/a.png");}
.p_b1{background-image:url("img/b.png");}
.p_c1{background-image:url("img/c.png");}
.p_d1{background-image:url("img/d.png");}
.p_e1{background-image:url("img/e.png");}
.p_f1{background-image:url("img/f.png");}
.p_g1{background-image:url("img/g.png");}
.p_h1{background-image:url("img/h.png");}
.p_i1{background-image:url("img/i.png");}
.p_j1{background-image:url("img/j.png");}
.p_k1{background-image:url("img/k.png");}
.p_l1{background-image:url("img/l.png");}
.p_m1{background-image:url("img/m.png");}
.p_n1{background-image:url("img/n.png");}
.p_o1{background-image:url("img/o.png");}
.p_p1{background-image:url("img/p.png");}
.p_q1{background-image:url("img/q.png");}
.p_r1{background-image:url("img/r.png");}
.p_s1{background-image:url("img/s.png");}
.p_t1{background-image:url("img/t.png");}
.p_u1{background-image:url("img/u.png");}

.cc-selector1 input:active +.drinkcard-cc{opacity: .9;}
.cc-selector1 input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
	*/
.drinkcard-cc1{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:170px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc1:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);

