{% extends "base.html" %} 

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<div id = "Header" style="text-align: left;">
		<h1> Results </h1>
	</div>

	

	<div class="row">
		<h2> Plots </h2>

			<div id="{{ pdid }}" class = "large-8 large-centered columns"></div>

		<script type="text/javascript">
				mpld3.draw_figure("{{ pdid }}", {{ pdjson|safe }});
		</script>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>

	<div class = "large-12 columns">
	<table>
	  <thead>
		<tr>
		  <th width="150">Critical Volume Fraction</th>
		  <th width="150">Critical Chi</th>
		</tr>
	  </thead>
	  <tbody>
			<tr>
				<td> {{ critphi2[0] }} </td>
				<td> {{ critphi2[1] }} </td>
			</tr>
	  </tbody>
	</table>

	<div class = "large-12 columns">
		<h2> Data Table </h2>
	<table>
	  <thead>
		<tr>
		  <th width="100">Volume Fraction</th>
		  <th width="150">Spinodal</th>
		  <th width="150">Binodal</th>
		</tr>
	  </thead>
	  <tbody>
		{% for row in zipped2 %}
			<tr>
				<td> {{ row[0] }} </td>
				<td> {{ row[1] }} </td>
				<td> {{ row[2] }} </td>
			</tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
	{% endblock %}
